@charset "UTF-8";

:root{
	--primary-color: #FFB87D;
	--background-color: #FFC0A4;
	--dark-color: #151515;
	--nav-color: #FFF8F2;
	--content-inicio: #FFCDA4;
	--blanco: #FFFFFF;
	--form: #FFC698;
	--gris:#E8D6C8;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
	line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	font-family:Mifuente, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin: 0px 60px 0px 70px;
}

#contenido{
	background: var(--primary-color);
	margin: 0px;
	padding:15px 15px 15px 15px;
	height:100%;
}
.seccion{
	background: var(--blanco);
	width: 75%;
	float:left;
}
.agrupar{
	border:1px;
	margin: auto;
	width:100%;
}

.contenedor-section{
	padding: 15px;
	margin:10px 60px 10px 60px;
	background: var(--gris);
	border: 2px solid #ccc;
    border-radius: 5px;
}

.contenido-categoria{
	display: flex;
	padding: 10px;
	margin: auto;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 1px solid #ccc; /* Borde opcional para el contenedor */
}

.contenido-categoria input[type="submit"]{
    background-color: white; /* Color de fondo */
    border: none; /* Elimina el borde */
    color: black; /* Color del texto */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Elimina la decoración de texto predeterminada */
    display: inline-block; /* Hace que el elemento sea un bloque en línea */
    font-size: 20px; /* Tamaño de fuente */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-left: 5%;
}

select{
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 16px;
    font-family: Arial, sans-serif;
	width: 30%;
	height: 30px;
	margin-left: 2%;
}

.clearfix {
    clear: both;
}